pkgbase = ttf-code2002
	pkgdesc = A Plane 2 Unicode-based font.
	pkgver = 0.922
	pkgrel = 1
	url = https://code2001.com/Code2002_page.htm
	arch = any
	license = unknown
	provides = ttf-code2002
	provides = ttf-code2002-old
	conflicts = ttf-code2002
	conflicts = ttf-code2002-old
	source = https://www.code2001.com/CODE2002.ZIP
	sha256sums = SKIP

pkgname = ttf-code2002
