pkgbase = wallpaper-windows11
	pkgdesc = MS Windows11 (22H2) wallpaper.
	pkgver = 2023.09.22H2
	pkgrel = 1
	url = https://next.itellyou.cn/Original/Index#cbp=Product?ID=42e87ac8-9cd6-eb11-bdf8-e0d4e850c9c6
	arch = x86_64
	license = custom:FUMS
	makedepends = p7zip
	makedepends = rsync
	provides = wallpaper-windows11
	conflicts = wallpaper-windows11
	source = zh-cn_windows_11_business_editions_version_23h2_updated_dec_2023_x64_dvd_9a37d106.iso
	sha256sums = SKIP

pkgname = wallpaper-windows11
