pkgbase = nginx-mainline-mod-fancyindex-git
	pkgdesc = Fancy indexes module for the Nginx web server (mainline).
	pkgver = r255.cbc0d3fca4
	pkgrel = 1
	url = https://github.com/aperezdc/ngx-fancyindex
	arch = any
	license = custom
	makedepends = nginx-mainline-src
	depends = nginx-mainline
	provides = nginx-mainline-mod-fancyindex-git
	provides = nginx-mainline-mod-fancyindex
	conflicts = nginx-mainline-mod-fancyindex
	source = nginx-fancyindex-module::git+https://github.com/aperezdc/ngx-fancyindex
	sha256sums = SKIP

pkgname = nginx-mainline-mod-fancyindex-git
