pkgbase = tencent-qq
	pkgdesc = An instant messaging software developed by Tencent.
	pkgver = 3.2.5_20811
	pkgrel = 1
	url = https://im.qq.com/rainbow/linuxQQDownload/
	arch = x86_64
	license = unknown
	makedepends = imagemagick
	optdepends = libappindicator-gtk3: Allow applications to extend a menu via Ayatana indicators in Unity, KDE or Systray
	provides = tencent-qq
	conflicts = tencent-qq
	source = https://dldir1.qq.com/qqfile/qq/QQNT/d0154345/linuxqq_3.2.5-20811_amd64.deb
	source = tencent-qq.desktop
	sha256sums = SKIP
	sha256sums = bb8ae7c08ce017d4703e3dc1968ccaa8f7db4296d600cbe67ab3edbd68dd544e

pkgname = tencent-qq
