pkgbase = tencent-qq
	pkgdesc = An instant messaging software developed by Tencent.
	pkgver = 3.2.3_19189
	pkgrel = 1
	url = https://im.qq.com/rainbow/linuxQQDownload/
	arch = x86_64
	license = unknown
	makedepends = dpkg
	makedepends = imagemagick
	depends = nspr
	depends = nss
	depends = alsa-lib
	optdepends = libappindicator-gtk3: Allow applications to extend a menu via Ayatana indicators in Unity, KDE or Systray
	provides = tencent-qq
	conflicts = tencent-qq
	noextract = linuxqq_3.2.3-19189_amd64.deb
	source = https://dldir1.qq.com/qqfile/qq/QQNT/06d558c3/linuxqq_3.2.3-19189_amd64.deb
	source = tencent-qq.desktop
	sha256sums = SKIP
	sha256sums = bb8ae7c08ce017d4703e3dc1968ccaa8f7db4296d600cbe67ab3edbd68dd544e

pkgname = tencent-qq
