pkgbase = virtualbox-sup
	pkgdesc = Supplement the missing files of VirtualBox.
	pkgver = 7.0.8
	pkgrel = 2
	url = https://download.virtualbox.org/virtualbox/7.0.8/
	arch = x86_64
	license = GPL3
	makedepends = p7zip
	depends = virtualbox
	provides = virtualbox-sup
	conflicts = virtualbox-sup
	source = vbox.run::https://download.virtualbox.org/virtualbox/7.0.8/VirtualBox-7.0.8-156879-Linux_amd64.run
	sha256sums = SKIP

pkgname = virtualbox-sup
