pkgbase = virtualbox-sup
	pkgdesc = Supplement the missing files of VirtualBox.
	pkgver = 7.0.10
	pkgrel = 1
	url = https://download.virtualbox.org/virtualbox/7.0.10/
	arch = x86_64
	license = GPL3
	makedepends = p7zip
	depends = virtualbox
	provides = virtualbox-sup
	conflicts = virtualbox-sup
	source = vbox.run::https://download.virtualbox.org/virtualbox/7.0.10/VirtualBox-7.0.10-158379-Linux_amd64.run
	sha256sums = SKIP

pkgname = virtualbox-sup
