pkgbase = github-desktop
	pkgdesc = Fork of GitHub Desktop to support various Linux distributions.
	pkgver = 3.3.6_RC3
	pkgrel = 1
	url = https://github.com/shiftkey/desktop/releases
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	depends = libxcb
	depends = kde-cli-tools
	depends = trash-cli
	depends = glib2
	depends = gvfs
	depends = curl
	depends = libsecret
	depends = gnome-keyring
	optdepends = pulseaudio: A featureful, general-purpose sound server
	optdepends = alsa-lib: An alternative implementation of Linux sound support
	optdepends = lsb-release: LSB version query program
	provides = github-desktop
	provides = gh-desktop
	conflicts = github-desktop
	conflicts = gh-desktop
	source = https://github.com/shiftkey/desktop/releases/download/release-3.3.6-linux3/GitHubDesktop-linux-amd64-3.3.6-linux3.deb
	sha256sums = SKIP

pkgname = github-desktop
