pkgbase = gsconnect
	pkgdesc = KDE Connect implementation for GNOME.
	pkgver = 56
	pkgrel = 2
	url = https://github.com/GSConnect/gnome-shell-extension-gsconnect
	arch = any
	license = GPL
	makedepends = meson
	depends = gjs
	optdepends = gnome-shell: Get all the functions
	optdepends = evolution-data-server: Contacts Integration
	optdepends = python-nautilus: File Manager Integration (Nautilus)
	optdepends = gsound: Sound Effects
	optdepends = libcanberra: Sound Effects
	optdepends = ydotool: Generic command-line automation tool (Wayland)
	optdepends = wl-clipboard: Command-line copy/paste utilities (Wayland)
	provides = gsconnect
	provides = gnome-shell-extension-gsconnect
	conflicts = gsconnect
	conflicts = gnome-shell-extension-gsconnect
	source = https://github.com/GSConnect/gnome-shell-extension-gsconnect/archive/refs/tags/v56.tar.gz
	source = gsconnect-daemon.sh
	source = gsconnect-preferences.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = gsconnect
