pkgbase = noto-fonts-sc
	pkgdesc = Noto CJK fonts (Simplified Chinese)
	pkgver = 2023.08.31
	pkgrel = 1
	url = https://github.com/notofonts/noto-cjk
	arch = any
	license = unknown
	provides = noto-fonts-sc
	conflicts = noto-fonts-sc
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-Black.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-Bold.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-ExtraLight.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-Light.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-Medium.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-Regular.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Serif/OTF/SimplifiedChinese/NotoSerifCJKsc-SemiBold.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-Black.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-Bold.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-DemiLight.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-Light.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-Medium.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-Regular.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/OTF/SimplifiedChinese/NotoSansCJKsc-Thin.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/Mono/NotoSansMonoCJKsc-Regular.otf
	source = https://github.com/googlefonts/noto-cjk/raw/727f898acdf7b100d308af8edf63c3953b626a1b/Sans/Mono/NotoSansMonoCJKsc-Bold.otf
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = noto-fonts-sc
