pkgbase = noto-fonts-en
	pkgdesc = Noto fonts (English).
	pkgver = 2024.03.25
	pkgrel = 1
	url = https://github.com/notofonts/notofonts.github.io
	arch = any
	license = unknown
	optdepends = noto-fonts-cjk: CJK characters
	optdepends = noto-fonts-emoji: Emoji characters
	optdepends = noto-fonts-extra: additional variants (condensed, semi-bold, extra-light)
	provides = noto-fonts-en
	conflicts = noto-fonts-en
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Black.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-BlackItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Bold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-BoldItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-ExtraBold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-ExtraBoldItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-ExtraLight.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-ExtraLightItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Italic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Light.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-LightItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Medium.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-MediumItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Regular.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-SemiBold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-SemiBoldItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-Thin.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSans/hinted/ttf/NotoSans-ThinItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Black.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-BlackItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Bold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-BoldItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-ExtraBold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-ExtraBoldItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-ExtraLight.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-ExtraLightItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Italic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Light.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-LightItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Medium.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-MediumItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Regular.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-SemiBold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-SemiBoldItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-Thin.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSerif/hinted/ttf/NotoSerif-ThinItalic.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-Black.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-Bold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-ExtraBold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-ExtraLight.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-Light.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-Medium.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-Regular.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-SemiBold.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/fonts/NotoSansMono/hinted/ttf/NotoSansMono-Thin.ttf
	source = https://github.com/notofonts/notofonts.github.io/raw/2c3d6b5b45f3683bbc6db45048df8e02963ba67b/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = noto-fonts-en
