pkgbase = nginx-mainline-mod-headers-more-git
	pkgdesc = Set, add, and clear arbitrary output headers in NGINX http servers (mainline).
	pkgver = r267.607d1b1f32
	pkgrel = 2
	url = https://github.com/openresty/headers-more-nginx-module
	arch = any
	license = BSD
	makedepends = git
	makedepends = nginx-mainline-src
	depends = nginx-mainline
	provides = nginx-mainline-mod-headers-more-git
	provides = nginx-mainline-mod-headers-more
	conflicts = nginx-mainline-mod-headers-more-git
	conflicts = nginx-mainline-mod-headers-more

pkgname = nginx-mainline-mod-headers-more-git
