pkgbase = translator-git
	pkgdesc = Command-line aggregation translation tool, support Google, Bing, Youdao, Baidu, Ciba, 360.
	pkgver = r26.d079730096
	pkgrel = 1
	url = https://github.com/skywind3000/translator
	arch = x86_64
	license = unknown
	depends = python
	provides = translator-git
	provides = translator
	conflicts = translator-git
	conflicts = translator
	source = https://github.com/skywind3000/translator/raw/master/translator.py
	source = https://github.com/skywind3000/translator/raw/master/README.md
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = translator-git
