pkgbase = nginx-mainline-mod-brotli-git
	pkgdesc = Nginx module for Brotli compression (mainline).
	pkgver = r62.a71f9312c2
	pkgrel = 6
	url = https://github.com/google/ngx_brotli
	arch = x86_64
	license = BSD2
	makedepends = git
	makedepends = nginx-mainline-src=1.27.0
	depends = nginx-mainline=1.27.0
	depends = brotli
	provides = nginx-mainline-mod-brotli-git
	provides = nginx-mainline-mod-brotli
	conflicts = nginx-mainline-mod-brotli-git
	conflicts = nginx-mainline-mod-brotli

pkgname = nginx-mainline-mod-brotli-git
