pkgbase = nginx-mainline-mod-brotli-git
	pkgdesc = NGINX module for Brotli compression (mainline).
	pkgver = r62.a71f9312c2
	pkgrel = 3
	url = https://github.com/google/ngx_brotli
	arch = any
	license = BSD2
	makedepends = git
	makedepends = nginx-mainline-src=1.25.3
	depends = nginx-mainline=1.25.3
	depends = brotli
	provides = nginx-mainline-mod-brotli-git
	provides = nginx-mainline-mod-brotli
	conflicts = nginx-mainline-mod-brotli-git
	conflicts = nginx-mainline-mod-brotli

pkgname = nginx-mainline-mod-brotli-git
