pkgbase = ttf-code2002-old
	pkgdesc = A Plane 2 Unicode-based font.
	pkgver = 2010.11.22
	pkgrel = 1
	url = https://web.archive.org/web/20101122142710/http://code2000.net/CODE2002.ZIP
	arch = any
	license = unknown
	provides = ttf-code2002-old
	provides = ttf-code2002
	conflicts = ttf-code2002-old
	conflicts = ttf-code2002
	source = https://web.archive.org/web/20101122142710/http://code2000.net/CODE2002.ZIP
	sha256sums = SKIP

pkgname = ttf-code2002-old
