pkgbase = dnscrypt-proxy-chinalist-git
	pkgdesc = Chinese-specific configuration to improve dnscrypt-proxy.
	pkgver = r158311.8e1fa77501
	pkgrel = 1
	url = https://github.com/felixonmars/dnsmasq-china-list
	install = dnscrypt-proxy-chinalist-git.install
	arch = any
	license = custom:DWTFYWT
	depends = dnscrypt-proxy
	provides = dnscrypt-proxy-chinalist-git
	provides = dnscrypt-proxy-chinalist
	conflicts = dnscrypt-proxy-chinalist-git
	conflicts = dnscrypt-proxy-chinalist
	source = https://github.com/felixonmars/dnsmasq-china-list/raw/master/accelerated-domains.china.conf
	source = dnscrypt-proxy-chinalist-git.install
	source = https://github.com/felixonmars/dnsmasq-china-list/raw/master/LICENSE
	source = Makefile
	sha256sums = SKIP
	sha256sums = bbcd9487612c36c2bdeb00db7413cb3367c8093a29d6e8e695953394060677d1
	sha256sums = SKIP
	sha256sums = 882a8d8c0db184be031ba59464fd8e3cd029d6e7af0c5fd99e276ce73a2bca03

pkgname = dnscrypt-proxy-chinalist-git
