pkgbase = dnscrypt-proxy-chinalist-git
	pkgdesc = Chinese-specific configuration to improve dnscrypt-proxy.
	pkgver = r165463.29433e7215
	pkgrel = 1
	url = https://github.com/felixonmars/dnsmasq-china-list
	arch = x86_64
	license = custom:DWTFYWT
	depends = dnscrypt-proxy
	provides = dnscrypt-proxy-chinalist-git
	provides = dnscrypt-proxy-chinalist
	conflicts = dnscrypt-proxy-chinalist-git
	conflicts = dnscrypt-proxy-chinalist
	source = https://github.com/felixonmars/dnsmasq-china-list/raw/master/accelerated-domains.china.conf
	source = https://github.com/felixonmars/dnsmasq-china-list/raw/master/LICENSE
	source = Makefile
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 882a8d8c0db184be031ba59464fd8e3cd029d6e7af0c5fd99e276ce73a2bca03

pkgname = dnscrypt-proxy-chinalist-git
