pkgbase = wallpaper-windows10
	pkgdesc = MS Windows10 (22H2) wallpaper.
	pkgver = 2023.09.22H2
	pkgrel = 1
	url = https://next.itellyou.cn/Original/Index#cbp=Product?ID=f905b2d9-11e7-4ee3-8b52-407a8befe8d1
	arch = x86_64
	license = custom:FUMS
	makedepends = p7zip
	makedepends = rsync
	provides = wallpaper-windows10
	conflicts = wallpaper-windows10
	source = 
	sha256sums = SKIP

pkgname = wallpaper-windows10
