pkgbase = friend
	pkgdesc = Soft kitty, warm kitty, little ball of fur.
	pkgver = 2024.02.14
	pkgrel = 1
	url = https://b23.tv/ZEtwjPn
	arch = x86_64
	license = unknown
	source = friend
	sha256sums = SKIP

pkgname = boy-friend
	provides = boy-friend
	conflicts = boy-friend

pkgname = girl-friend
	provides = girl-friend
	conflicts = girl-friend
