pkgbase = n3n-git
	pkgdesc = Peer-to-peer VPN.
	pkgver = r2043.ceb46d944c
	pkgrel = 1
	url = https://github.com/hamishcoleman/n3n
	arch = x86_64
	license = GPL3
	makedepends = zstd
	makedepends = openssl
	makedepends = libcap
	makedepends = libpcap
	makedepends = libnatpmp
	makedepends = miniupnpc
	optdepends = python: for n3n-ctl, n3n-httpd command
	provides = n3n-git
	provides = n3n
	provides = n2n-git
	provides = n2n
	conflicts = n3n-git
	conflicts = n3n
	conflicts = n2n-git
	conflicts = n2n
	backup = etc/n3n/edge.conf
	backup = etc/n3n/supernode.conf
	source = git+https://github.com/hamishcoleman/n3n.git
	source = full-edge.conf
	source = full-supernode.conf
	source = version.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = n3n-git
