pkgbase = n3n-git
	pkgdesc = Peer-to-peer VPN.
	pkgver = r1562.cd23e54
	pkgrel = 1
	url = https://github.com/hamishcoleman/n3n
	arch = x86_64
	license = GPL
	makedepends = libpcap
	depends = zstd
	depends = openssl
	depends = libcap
	depends = miniupnpc
	optdepends = libpcap: for n3n-decode
	optdepends = python: for n2n-ctl, n2n-httpd
	provides = n3n-git
	provides = n3n
	provides = n2n
	provides = n2n-git
	conflicts = n3n-git
	conflicts = n3n
	conflicts = n2n
	conflicts = n2n-git
	backup = etc/n3n/edge.conf
	backup = etc/n3n/supernode.conf
	source = git+https://github.com/hamishcoleman/n3n.git
	source = full-edge.conf
	source = full-supernode.conf
	source = version.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = n3n-git
