pkgbase = qmk-udev-git
	pkgdesc = Open-source keyboard firmware for Atmel AVR and Arm USB families - udev rules.
	pkgver = r26930.900e79febe
	pkgrel = 1
	url = https://github.com/qmk/qmk_firmware
	arch = x86_64
	license = GPL2
	depends = qmk
	depends = qmk-firmware
	provides = qmk-udev-git
	provides = qmk-udev
	conflicts = qmk-udev-git
	conflicts = qmk-udev
	source = https://github.com/qmk/qmk_firmware/raw/master/util/udev/50-qmk.rules
	sha256sums = SKIP

pkgname = qmk-udev-git
