pkgbase = apktool
	pkgdesc = A tool for reverse engineering Android apk files.
	pkgver = 2.9.1
	pkgrel = 1
	url = https://github.com/iBotPeaches/Apktool/releases
	arch = any
	license = Apache
	depends = java-runtime
	provides = apktool
	conflicts = apktool
	noextract = apktool_2.9.1.jar
	source = https://github.com/iBotPeaches/Apktool/releases/download/v2.9.1/apktool_2.9.1.jar
	source = apktool.sh
	sha256sums = SKIP
	sha256sums = 9f2c14689381a117f8705753f318bfcb39ed357642f952d50d9864285b86666b

pkgname = apktool
