pkgbase = apktool
	pkgdesc = A tool for reverse engineering Android apk files.
	pkgver = 2.9.2
	pkgrel = 1
	url = https://github.com/iBotPeaches/Apktool
	arch = x86_64
	license = Apache
	depends = java-runtime
	provides = apktool
	conflicts = apktool
	noextract = apktool_2.9.2.jar
	source = https://github.com/iBotPeaches/Apktool/releases/download/v2.9.2/apktool_2.9.2.jar
	source = https://github.com/iBotPeaches/Apktool/raw/master/CONTRIBUTORS.md
	source = https://github.com/iBotPeaches/Apktool/raw/master/LICENSE.md
	source = apktool.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 9f2c14689381a117f8705753f318bfcb39ed357642f952d50d9864285b86666b

pkgname = apktool
