pkgbase = n2n-git
	pkgdesc = Peer-to-peer VPN.
	pkgver = r1426.fff50a7
	pkgrel = 4
	url = https://github.com/ntop/n2n
	arch = x86_64
	license = GPL
	makedepends = libpcap
	depends = zstd
	depends = openssl
	depends = libcap
	depends = miniupnpc
	optdepends = libpcap: for n2n-decode
	optdepends = python: for n2n-ctl, n2n-httpd
	provides = n2n-git
	provides = n2n
	provides = n3n
	provides = n3n-git
	conflicts = n2n-git
	conflicts = n2n
	conflicts = n3n
	conflicts = n3n-git
	backup = etc/n2n/edge.conf
	backup = etc/n2n/supernode.conf
	source = git+https://github.com/ntop/n2n.git
	source = full-edge.conf
	source = full-supernode.conf
	source = version.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = n2n-git
