pkgbase = rustdesk-server
	pkgdesc = RustDesk Server Program.
	pkgver = 1.1.9
	pkgrel = 1
	url = https://github.com/rustdesk/rustdesk-server/releases
	arch = x86_64
	license = AGPL3
	provides = rustdesk-server
	conflicts = rustdesk-server
	source = https://github.com/rustdesk/rustdesk-server/releases/download/1.1.9/rustdesk-server-linux-amd64.zip
	source = rustdesk-server-hbbr.service
	source = rustdesk-server-hbbs.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rustdesk-server
