[Unit]
Description=Rustdesk Signal (ID/Rendezvous) Server
Wants=network-online.target

[Service]
DynamicUser=yes
StateDirectory=rustdesk-server

WorkingDirectory=/var/lib/rustdesk-server/
Type=simple
ExecStart=/usr/bin/rustdesk-server-hbbs
Restart=always

[Install]
WantedBy=multi-user.target
