pkgbase = hmcl
	pkgdesc = A Minecraft Launcher which is multi-functional, cross-platform and popular.
	pkgver = 3.5.4.234
	pkgrel = 1
	url = https://github.com/huanghongxun/HMCL
	arch = x86_64
	license = GPL3
	depends = java-runtime
	provides = hmcl
	conflicts = hmcl
	noextract = HMCL-3.5.4.234.jar
	source = https://github.com/huanghongxun/HMCL/releases/download/v3.5.4.234/HMCL-3.5.4.234.jar
	source = hmcl.sh
	source = https://github.com/huanghongxun/HMCL/raw/javafx/LICENSE
	source = https://github.com/huanghongxun/HMCL/raw/javafx/PLATFORM.md
	source = https://github.com/huanghongxun/HMCL/raw/javafx/PLATFORM_cn.md
	sha256sums = SKIP
	sha256sums = 3dac6043ac66a25a990e681195660fa60f486786957280da7c71b284d33e78de
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = hmcl
