pkgbase = libreoffice-nightly
	pkgdesc = LibreOffice development branch
	pkgver = 24.2.0.0.alpha0
	pkgrel = 20230616
	url = https://dev-builds.libreoffice.org/daily/master/Linux-rpm_deb-x86_64@tb87-TDF/current/
	arch = x86_64
	license = LGPL3
	makedepends = dpkg
	depends = nspr
	depends = nss
	depends = gstreamer
	depends = kwindowsystem
	depends = orc
	depends = qt5-x11extras
	optdepends = java-runtime: adds java support
	optdepends = pstoedit: translates PostScript and PDF graphics into other vector formats
	optdepends = libmythes: for use in thesaurus
	optdepends = beanshell: interactive java -- good for prototyping/macros
	optdepends = libwpg: library for importing and converting WordPerfect Graphics format
	optdepends = sane: for scanner access
	optdepends = unixodbc: adds ODBC database support
	optdepends = gst-plugins-base-libs: for multimedia content, e.g. in Impress
	optdepends = libpaper: takes care of papersize
	optdepends = postgresql-libs: for postgresql-connector
	optdepends = mariadb-libs: for mysql-connector
	optdepends = coin-or-mp: required by the Calc solver
	optdepends = gtk3: for GTK3 integration
	optdepends = gtk4: or GTK4 integration (experimental)
	optdepends = kio: for KF5 KDE desktop integration
	optdepends = qt6-base: for QT6 desktop integration
	provides = libreoffice-nightly
	conflicts = libreoffice-nightly
	source = https://dev-builds.libreoffice.org/daily/master/Linux-rpm_deb-x86_64@tb87-TDF/current//LibreOfficeDev_24.2.0.0.alpha0_Linux_x86-64_deb.tar.gz
	source = https://dev-builds.libreoffice.org/daily/master/Linux-rpm_deb-x86_64@tb87-TDF/current//LibreOfficeDev_24.2.0.0.alpha0_Linux_x86-64_deb_helppack_en-US.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = libreoffice-nightly
