pkgbase = jetbra.in
	pkgdesc = A Java instrumentation framework for JetBrains IDE testing purposes only.
	pkgver = 2023.09.14
	pkgrel = 1
	url = https://3.jetbra.in/
	install = jetbra.in.install
	arch = any
	license = GPL3
	depends = java-environment
	provides = jetbra.in
	provides = ja-netfilter
	conflicts = jetbra.in
	conflicts = ja-netfilter
	source = https://ipfs.io/ipfs/bafybeia4nrbuvpfd6k7lkorzgjw3t6totaoko7gmvq5pyuhl2eloxnfiri/files/jetbra-ded4f9dc4fcb60294b21669dafa90330f2713ce4.zip
	source = jetbra.in.install
	sha256sums = SKIP
	sha256sums = 841ef4a86dae3f52656a4f3474d430be37760e1a38ec9ec585a38d0198458d5f

pkgname = jetbra.in
