pkgbase = jetbra.in
	pkgdesc = A Java instrumentation framework for JetBrains IDE testing purposes only.
	pkgver = 2023.09.14
	pkgrel = 1
	url = https://3.jetbra.in
	install = jetbra.in.install
	arch = x86_64
	license = GPL3
	depends = java-runtime
	provides = jetbra.in
	provides = ja-netfilter
	conflicts = jetbra.in
	conflicts = ja-netfilter
	backup = etc/jetbra.in/vmoptions/appcode.vmoptions
	backup = etc/jetbra.in/vmoptions/clion.vmoptions
	backup = etc/jetbra.in/vmoptions/datagrip.vmoptions
	backup = etc/jetbra.in/vmoptions/dataspell.vmoptions
	backup = etc/jetbra.in/vmoptions/devecostudio.vmoptions
	backup = etc/jetbra.in/vmoptions/gateway.vmoptions
	backup = etc/jetbra.in/vmoptions/goland.vmoptions
	backup = etc/jetbra.in/vmoptions/idea.vmoptions
	backup = etc/jetbra.in/vmoptions/jetbrains_client.vmoptions
	backup = etc/jetbra.in/vmoptions/jetbrainsclient.vmoptions
	backup = etc/jetbra.in/vmoptions/phpstorm.vmoptions
	backup = etc/jetbra.in/vmoptions/pycharm.vmoptions
	backup = etc/jetbra.in/vmoptions/rider.vmoptions
	backup = etc/jetbra.in/vmoptions/rubymine.vmoptions
	backup = etc/jetbra.in/vmoptions/studio.vmoptions
	backup = etc/jetbra.in/vmoptions/webide.vmoptions
	backup = etc/jetbra.in/vmoptions/webstorm.vmoptions
	source = https://ipfs.io/ipfs//files/jetbra-ded4f9dc4fcb60294b21669dafa90330f2713ce4.zip
	source = jetbra.in.install
	sha256sums = 39de7a0306419aadc8d125d6e20ce7e6b812fe855c7c8b7313e7ba6605844098
	sha256sums = 841ef4a86dae3f52656a4f3474d430be37760e1a38ec9ec585a38d0198458d5f

pkgname = jetbra.in
