pkgbase = oh-my-zsh-git
	pkgdesc = A delightful community-driven framework for managing your zsh configuration.
	pkgver = r7108.80c114cb3a
	pkgrel = 1
	url = https://github.com/ohmyzsh/ohmyzsh
	arch = x86_64
	license = MIT
	makedepends = git
	depends = zsh
	optdepends = git: Support for git repositories
	provides = oh-my-zsh-git
	provides = oh-my-zsh
	conflicts = oh-my-zsh-git
	conflicts = oh-my-zsh

pkgname = oh-my-zsh-git
