pkgbase = spectre-meltdown-checker
	pkgdesc = Reptar, Downfall, Zenbleed, ZombieLoad, RIDL, Fallout, Foreshadow, Spectre, Meltdown vulnerability/mitigation checker for Linux & BSD.
	pkgver = r554.0f2edb1a71
	pkgrel = 1
	url = https://github.com/speed47/spectre-meltdown-checker
	arch = x86_64
	license = unknown
	depends = python
	provides = spectre-meltdown-checker
	conflicts = spectre-meltdown-checker
	source = https://github.com/speed47/spectre-meltdown-checker/raw/master/spectre-meltdown-checker.sh
	source = https://github.com/speed47/spectre-meltdown-checker/raw/master/FAQ.md
	source = https://github.com/speed47/spectre-meltdown-checker/raw/master/README.md
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = spectre-meltdown-checker
